* {
    box-sizing: border-box;
}

.poster {
    position: relative;
    margin: 0 auto;
    width: 888px;
    height: 1348px;
    background-color: #A23829;
    border: 33px solid #DDC9B6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-container {
    width: 210px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    z-index: 2;
}
button {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #010101;
    border: none;
    color: #A23829;
    margin-bottom: 23px;
    font-size: 25px;
    font-weight: bold;
}
button.lobby {
    font-size: 8px;
}
h2 {
    color: #EAD5C0;
    font-weight: 600;
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 43.85%;
    top: 110%;
}
img {
    position: absolute;
    top: 11%;
    left: 43%;
    z-index: 1;
    max-width: 220px;
}